.background {
  min-height: 100vh;
  background-image: url('https://cdn.justdone.ai/_next/static/media/background_texture_square.b5672504.webp'),
  linear-gradient(253deg, #E3FFFE 23.91%, #E6EDFD 78.01%);
  background-repeat: repeat;
  background-size: cover;
}