.background {
  min-height: 100vh;
  background-image: url('/img/background_square.png'),
  linear-gradient(253deg, #E3FFFE 23.91%, #E6EDFD 78.01%);
  background-repeat: repeat;
  background-size: cover;
}